@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik+Moonrocks&display=swap');
*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 10px;
    background: #edeef0;
}
a{
    text-decoration: none;
    color: red;
}

nav ul{
    display:flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}

nav ul li{
    margin: 0 20px;
}

.logo-text{
    font-size: 3em;
    font-weight: 700;
    color: black;
}

.nav-link{
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-link:hover{
    color: #f05136;
}

#home{
    background: rgb(14, 12, 12);
    color:white;
    height: 450px;
    display:flex;
    justify-content: center;
    align-items: center;
}

header div p{
    font-size: 2.5em;
    font-weight: 200;
}

/* h1, */
h3,
h4{
    font-weight: 700;
}

h2{
    font-weight: 500;
}
/* h1{
    font-size: 5em;
} */
h2{
    font-size: 4em;
}
h3{
font-size: 2.5em;
}
h3{
    font-size: 1.8em;
}

#bio{
    display: flex;
    align-items: center;
}

#bio article *{
    margin: 20px;
}

.break{
    display:block;
}

#bio img{
    width:400px;
    height: 300px;
    border-radius: 50%;
    margin: 100px;
}
p{
    font-size: 1.5em;
}
#p{
    font-size: 2.5em;
}
hr{
    width: 400px;
}

#portfolio{
    background: url(./assets/Porfolio-background.svg);
    background-color:  black;
    color:white;
}

#portfolio,
#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px;
}
#portfolio div{
    display:flex;
    justify-content: space-around;
    /* margin: top left bottom right */
    margin:10px 0;
    width: 100%;
}


#portfolio h3,
p, hr{
    margin-bottom: 20px;
}

#portfolio div article{
    background: white;
    color:black;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
}

#portfolio div article p{
    padding: 0 5px;
}

#skills-container{
    display: flex;
    justify-content: space-around;
    width:100%;
}

#skills-container div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#skills ul{
    list-style:none;
}

#skills ul li{
    margin:10px 0;
}

progress[value]{
    height: 10px;
    width: 350px;
    -webkit-appearance:none;
}

progress[value]::-webkit-progress-bar{
    background-color: grey;
    border-radius: 2px; 
     box-shadow: 0 2px 5px rgba(0,0,0,0.25 inset);
}

::-webkit-progress-value{
    background-color: #f05136;
}

#skills ul{
    font-size: 1.5em;;
}

#contact{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.input{
    line-height: 2em;
    width: 350px;
    border-radius: 3px;
    border-color: black;
    margin: 20px 0;
}

#contact form input:last-child{
    margin-top: 30px;
}

#contact form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
#mpyg{
    width: 150px;
    height: 150px;
}#hand{
   padding-top: 10px;
}
#p{
    font-family: 'Cedarville Cursive', cursive;
}

.h21 {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
  }
  
  .h21 span {
    font-size: 40px;
    margin-left: 40px;
    color: rgb(255, 255, 255);
  }
  
  .message {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 270px;
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2, .word3 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }